@{
    ViewData["Title"] = "Home Page";
}
<h1> @ViewBag.UserId</h1>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<img style="background-size:cover;height:500px;width:110%" src="~/HMS.jpeg" />
